<%= form_for @user, user_path(@conn, :create), fn f -> %>
  <label>
    Email: <%= email_input f, :email %>
  </label>
  <%= submit "I will invest." %>
<% end %>

<ul>
  <%= for user <- @users do %>
    <li><%= name(user) %></li>
  <% end %>
</ul>
