<%= form_for @user, user_path(@conn, :create), fn f -> %>
  <label>
    Email: <%= email_input f, :email %>
  </label>
  <%= submit "I will invest." %>
<% end %>

<table>
  <thead>
    <tr>
      <th>name</th>
      <th>most recent investment</th>
    </tr>
  </thead>
  <tbody>
    <%= for user <- @users do %>
      <tr>
        <td><%= name(user) %></td>
        <td><%= most_recent_investment(user) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
